.loading {
  text-align:center;
  padding: 2rem;
}

.spinner {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top: 4px solid #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin{
  100%{
    transform:  rotate(360deg);
  }
}